body{
    padding: 0px;
    margin:0px;
}
.background-image-fixed{
    background-image: url(b3headerslider.jpg);
	background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
	height:500px;
}